/build/
template/build/
.cache/
vendor/
/debug/
template/debug/*.json
!template/debug/case-001.json
*.o
*.gch
.DS_Store
imgui.ini
compile_commands.json
dist/*.zip
__pycache__/
*.pyc
.idea/
test_export_tmp/
test_newproj_tmp/
/tmp/
